@import 'fonts';

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  min-width: 320px;
}

body {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.h2 {
  font-size: 1.6em;
}

.h3 {
  font-size: 1.4em;
}

ul {
  list-style: none;
}

.desktop-hidden {
  @media (min-width: 767px) {
    display: none !important;
  }
}

.mobile-hidden {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.wrapper-main, .wrapper-header {
  width: 100%;
}

.bg_gray {
  background: url(../images/bg.jpg) #030303;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  height: 40px;

  @media (max-width: 767px) {
    max-width: 767px;

    .phone {
      display: none;
    }

    .logo {
      min-width: 300px;

      .call-to-action {
        @media (max-width: 586px) {
          display: none;
        }
      }
    }
  }

  @media (max-width: 586px) {
    .logo {
      min-width: unset;
    }
  }

  .header__text {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;

    .phone {
      vertical-align: middle;
      min-width: 155px;
    }

    .phone-number {
      padding: 0 15px 0 0;
      font-weight: bolder;
      color: white;
      text-decoration: none;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      padding: 0 20px;
    }
  }

  .call-back {
    background-color: #e72522;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 40px;

    .icon-action {
      display: none;
    }

    @media (max-width: 486px) {
      background-color: unset;

      .text-action {
        display: none;
      }

      .icon-action {
        display: block;
        height: 100%;
        width: 30px;
      }
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.menu {
  background-color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;

  @media (max-width: 1024px) {
    display: none;
  }

  li {
    padding: 8px 0;
    flex-grow: 1;
    text-align: center;
  }
}

.section-promo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .section-promo__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .promo__title--first {
    padding: 0 0 15px 0;

    @media (max-width: 568px) {
      font-size: 1.4em;
    }
  }

  .promo__title--second {
    color: red;
    padding: 0 0 15px 0;

    @media (max-width: 568px) {
      font-size: 1.4em;
    }
  }

  .section-promo__info--btn {
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;

    @media (max-width: 1024px) {
      span{
        font-size: 1.2em !important;
      }
    }
  }

  .section-promo__img{
    img {
      width: 100%;
    }
    @media (max-width: 1024px) {
      wiidth: 100%;
    }
  }
}

.section-categories {
  display: flex;
  flex-direction: column;
  padding: 0 10%;

  .section-categories__title {
    margin: 32px 0;
    align-self: center;
    font-weight: 100;

    .h2--bold {
      font-weight: bold;
    }
  }

  .section-categories__body {
    display: flex;
    justify-content: space-around;
    
    img {
      width: 100%;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .item-card {
    margin: 0 0 40px 0;
    padding: 20px 10px;
    border: 1px solid lightgray;
    border-right: none;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-of-type {
      border-right: 1px solid lightgray
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      border-right: 1px solid lightgray
    }

    .item-card__title {
      font-size: 20px;
      margin-bottom: 12px;
    }

    .item-card__price {
      font-weight: bolder;
      font-size: 24px;
      margin-bottom: 12px;
    }
  }

  .item-card__btn {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bolder;
    width: 80%;
    padding: 10px;
  }
}

.section-features {
  display: flex;
  flex-direction: column;
  padding: 0 10%;

  .section-categories__title {
    margin: 32px 0;
    align-self: center;
    font-weight: 100;

    .h2--bold {
      font-weight: bold;
    }
  }

  .section-features__body {
    display: flex;
    justify-content: space-around;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .item-features {
    margin: 0 0 40px 0;
    border: 1px solid lightgray;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-of-type {
      border-right: 1px solid lightgray;
    }

    img {
      width: 300px;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      border-right: 1px solid lightgray;
      flex-direction: column-reverse;
      img {
        width: 100%;
      }
    }
  }
}

.item-feature__title {
  padding: 10px 0;
  
  @media (max-width: 1024px) {
    font-weight: lighter;
  }
}

.comment-box {
  display: flex;
  width: calc(100%/3);
  background-color: white;
  margin-bottom: 32px;
  margin: 5px;
  
  @media (max-width: 1024px) {
    width: 100%;
  }
  
  @media (max-width: 1440px) and (min-width: 1024px) {
    flex-direction: column;
  }
  
  @media (max-width: 512px) {
    flex-direction: column;
  }

  img {
    padding-right: 15px;
  }
}

.comment-box__info--stars {
  .star {
    color: darkgoldenrod;
    font-size: 2em;
  }
}

.comment-box__info {
  padding: 10px;
}

.comment-box__img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  padding: 32px 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;

  .footer__categories {
    margin-bottom: 18px;
    font-size: 18px;
  }

  li {
    margin-bottom: 10px;
  }

  form p {
    margin-bottom: 18px;
    font-size: 18px;
    //font-weight: bolder;
  }

  form input {
    padding: 5px 10px;
  }

  .footer__btn {
    background-color: red;
    border-color: red;
    color: white;
    font-weight: bolder;
  }
}


