.comment-box
  .comment-box__img
    img(src='images/feature1.jpg' alt='review about us' width='100')
  .comment-box__info
    .comment-box__info--stars
      span.star ☆
      span.star ☆
      span.star ☆
      span.star ☆
      span.star ☆
    h5.h3 ADVENTURE TIME
    .comment-box__info--text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium veritatis nesciunt quam beatae totam sit nostrum
