mixin itemCardTemplate(setId, setImage, setTitle, setCost)
    .item-card
        h5.h3.item-card__title= setTitle
        
        img(src=setImage)
        .item-card__price= setCost+' руб.'
        button.item-card__btn.buy-btn(set-id=setId) КУПИТЬ