#modal
    .modal-wrapper
        .modal-header
            span ЧТО  ВХОДИТ В НАБОР 
            span.bolder ADVENTURE TIME
        .modal-content
            .modal-column.modal-column--first
                .modal-content.modal-content__image
                    img(src='images/giftbox1.png')
                .modal-cost
                    .origin.bolder 100500
                    .new.bolder 10050
                .modal-btn Заказать
            .modal-column.modal-column--second
                .modal-content__description
                    .description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                .modal-sizes
                    .modal-sizes__header Доступные размеры для заказа
                    .sizes
                        .size.bolder S
                        .size.bolder M
                        .size.bolder L
                        .size.bolder XL
                    a.dontknow(href='https://wikipedia.org' target='__blank') Я не знаю  свой размер
                .modal-examples
                    .example
                        img(src='images/giftbox1.png')
                        .example-description LOREM IPSUM
                    .example
                        img(src='images/giftbox1.png')
                        .example-description LOREM IPSUM
                    .example
                        img(src='images/giftbox1.png')
                        .example-description LOREM IPSUM
                    .example
                        img(src='images/giftbox1.png')
                        .example-description LOREM IPSUM
                    .example
                        img(src='images/giftbox1.png')
                        .example-description LOREM IPSUM
        
#wrapper