.section-promo__info.section-promo__info--btn.desktop-hidden
  span ЗАКАЗАТЬ СЕЙЧАС
.section-promo__img
  img(src='images/promo-photo.png' alt='promo post' width='800')
.section-promo__info.section-promo__info--title
  h2.h2.promo__title--first ЛУЧШИЙ ПОДАРОК ДЛЯ
    br
    span.h2.promo__title--second ГЕЙМЕРОВ И ФАНАТОВ
  .section-promo__info--btn
    span ЗАКАЗАТЬ СЕЙЧАС
