footer.footer
    .footer-logo
        img(src='images/js-logo.svg' alt='logo footer' width='200')
    .about-us
        h5.footer__categories О НАС
        ul
            li Корпоративные подарки
            li Доставка и оплата
            li Сотрудничество
    .contacts
        h5.footer__categories КОНТАКТЫ
        ul
            li Корпоративные подарки
            li Доставка и оплата
            li Сотрудничество
    .subscribe
        form
            p ПОДПИШИСЬ И ПОЛУЧИ СКИДКУ 10%
            input.footer__form(value='e-mail')
            input.footer__btn(type='button' value='ПОДПИШИСЬ')