//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

.wrapper-header
  header.header
    .header__text
      .logo
        h1.h1
          img(src='images/logo-new.png' alt='giftshop' height='25')
        span подарки для геймеров и фанатов
      .phone
        i.phone-icon
          img(src='images/call-answer.svg' alt='phone icon' width='20')
        a.phone-number(href='tel:79222610795') +7 (922) 261-07-95
    .call-back
      span ОБРАТНЫЙ ЗВОНОК
  nav.nav
    ul.menu
      li.menu-item
        a GAME OF THRONES
      li.menu-item
        a HARRY POTTER
      li.menu-item
        a STAR WARS
      li.menu-item
        a RICK&MORTY
      li.menu-item
        a ADVENTURE TIME
      li.menu-item
        a MY LITTLE PONY
      li.menu-item
        a FALLOUT
      li.menu-item
        a THE WITCHER
      li.menu-item
        a CALL OF DUTY
