//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

.wrapper-header
  header.header
    .header__text
      .logo
        h1.h1
          img(src='images/logo-new.png' alt='giftshop' height='25')
        span.call-to-action подарки для геймеров и фанатов
      .phone
        a.phone-number(href='tel:79222610795') +7 (922) 261-07-95
    .call-back
      a(href='tel:79222610795')
        .text-action ОБРАТНЫЙ&nbsp;ЗВОНОК
  nav.nav
    ul.menu
      li.menu-item
        a GAME&nbsp;OF&nbsp;THRONES
      li.menu-item
        a HARRY&nbsp;POTTER
      li.menu-item
        a STAR&nbsp;WARS
      li.menu-item
        a RICK&MORTY
      li.menu-item
        a ADVENTURE&nbsp;TIME
      li.menu-item
        a MY&nbsp;LITTLE&nbsp;PONY
      li.menu-item
        a FALLOUT
      li.menu-item
        a THE&nbsp;WITCHER
      li.menu-item
        a CALL&nbsp;OF&nbsp;DUTY
