include components/payments.pug
.wrapper-main
    section.section-promo.bg_gray
      include components/promo

    section.section-categories#favorite-series
        h2.section-categories__title ЛЮБИМЫЕ&nbsp;
            span.h2--bold СЕРИАЛЫ
        .section-categories__body
            include components/item-card
            include components/item-card
            include components/item-card

    section.section-categories.bg_gray#favorite-cartoons
        h2.section-categories__title ЛЮБИМЫЕ&nbsp;
            span.h2--bold МУЛЬТФИЛЬМЫ
        .section-categories__body
            include components/item-card
            include components/item-card
            include components/item-card

    section.section-categories#favorite-games
        h2.section-categories__title ЛЮБИМЫЕ&nbsp;
            span.h2--bold ИГРЫ
        .section-categories__body
            include components/item-card
            include components/item-card
            include components/item-card

    section.section-features.bg_gray
        h2.section-categories__title ПОЧЕМУ СТОИТ&nbsp;
            span.h2--bold ЗАКАЗАТЬ У НАС?
        .section-features__body
            .item-features
                img(src='images/feature1.jpg')
                .item-feature__title
                    h5.h3.item-feature__title О ВАШЕМ ЗДОРОВЬЕ

            .item-features
                img(src='images/feature2.jpg')
                .item-feature__title
                    h5.h3.item-feature__title О ВАШЕМ СТАТУСЕ

            .item-features
                img(src='images/feature3.jpg')
                .item-feature__title
                    h5.h3.item-feature__title О ВАШЕМ КОШЕЛЬКЕ

    section.section-categories
        h2.section-categories__title ЧТО&nbsp;
            span.h2--bold ВНУТРИ?
        .section-categories__body
            .section-categories__left
                ul
                    li Набора футболок серии Game of Thrones. 100% хлопка с качественной печатью.
                    li
                    li 5 тематических футболок в подарочной упаковке.
                    li
                    li Не стыдно вручить даже самому близкому человеку.
            .section-categories__right
                img(src='images/giftbox1.jpg' alt='футболки' width='300')

    section.section-categories.bg_gray
        h2.section-categories__title ЧТО ЛЮДИ ГОВОРЯТ&nbsp;
            span.h2--bold О НАС?
        .section-categories__body.comments
          include components/comment.pug
          include components/comment.pug
          include components/comment.pug
          include components/comment.pug
          include components/comment.pug
          include components/comment.pug

