.wrapper-main
    section.section-promo.bg_gray
        .section-promo__img
            img(src='images/promo-photo.png' alt='promo post' width='800')
        .section-promo__info
            .section-promo__info--title
                h2.h2.promo__title--first ЛУЧШИЙ ПОДАРОК ДЛЯ
                    br
                    span.h2.promo__title--second ГЕЙМЕРОВ И ФАНАТОВ
            .section-promo__info--btn
                span ЗАКАЗАТЬ СЕЙЧАС

    section.section-categories
        h2.section-categories__title ЛЮБИМЫЕ&nbsp;
            span.h2--bold СЕРИАЛЫ
        .section-categories__body
            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

    section.section-categories.bg_gray
        h2.section-categories__title ЛЮБИМЫЕ&nbsp;
            span.h2--bold МУЛЬТФИЛЬМЫ
        .section-categories__body
            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

    section.section-categories
        h2.section-categories__title ЛЮБИМЫЕ&nbsp;
            span.h2--bold ИГРЫ
        .section-categories__body
            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

            .item-card
                h5.h3.item-card__title ADVENTURE TIME
                img(src='images/giftbox1.jpg' width='300')
                .item-card__price 4900 руб.
                .item-card__btn КУПИТЬ

    section.section-features.bg_gray
        h2.section-categories__title ПОЧЕМУ СТОИТ&nbsp;
            span.h2--bold ЗАКАЗАТЬ У НАС?
        .section-features__body
            .item-features
                img(src='images/feature1.jpg' width='300')
                .item-feature__title
                    h5.h3.item-feature__title О ВАШЕМ ЗДОРОВЬЕ

            .item-features
                img(src='images/feature2.jpg' width='300')
                .item-feature__title
                    h5.h3.item-feature__title О ВАШЕМ СТАТУСЕ

            .item-features
                img(src='images/feature3.jpg' width='300')
                .item-feature__title
                    h5.h3.item-feature__title О ВАШЕМ КОШЕЛЬКЕ

    section.section-categories
        h2.section-categories__title ЧТО&nbsp;
            span.h2--bold ВНУТРИ?
        .section-categories__body
            .section-categories__left
                ul
                    li - выполнены из 100% хлопока
                    li - качественная печать
                    li - подарочная упаковка
                    li - не стыдно вручить
            .section-categories__right
                img(src='images/giftbox1.jpg' alt='футболки' width='300')

    section.section-categories.bg_gray
        h2.section-categories__title ЧТО ЛЮДИ ГОВОРЯТ&nbsp;
            span.h2--bold О НАС?
        .section-categories__body
          include components/comment.pug
          include components/comment.pug
          include components/comment.pug
